#root {
  height: 100vh;
  background: #dddad8;
}

.container {
  background: #dddad8;
}

.tool-bar * {
  /* position: static; */
  background: #dddad8;
  color: #535c5f;
}

/* .MuiTypography-h6 {
  font-family: "Fira Code", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
} */

.post {
  padding: 16px;
}
