html,
body,
#root {
  height: 100vh;
  background: #dddad8;
}

.container {
  background: #dddad8;
}

.tool-bar * {
  /* position: static; */
  background: #2e2f2f;
  color: #cafa8c;
}

.tool-bar {
  margin-bottom: 16px;
  background: #2e2f2f;
}

/* .MuiTypography-h6 {
  font-family: "Fira Code", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
} */

.post {
  /* margin: 16px 0px; */
  padding: 16px;
}

pre {
  line-height: 1.5;
  overflow: scroll;
  padding: 16px;
  background: #2e2f2f;
  color: #cafa8c;
}
